pytest
flake8
numpy
python-multipart
adlfs
streamlit
requests


mlflow
mlflow[azure]
azure-storage-blob
azure-core
azure-identity
fastapi
uvicorn
pydantic
scikit-learn
pandas
dvc[azure]
pytest

azure-mgmt-containerinstance
